[submodule "clearent-idtech-android"]
            path = clearent-idtech-android
            url = xplortechnologies@dev.azure.com/xplortechnologies/Nexus/_git/clearent-idtech-android>https://xplortechnologies@dev.azure.com/xplortechnologies/Nexus/_git/clearent-idtech-android
